<h1 class="bg-primary">Welcome</h1>

<app-task></app-task>  <!-- app.module.ts -->


<h4>Todo module list</h4>
<app-completed-task></app-completed-task>  <!-- todo.module.ts --> 


<button (click)="readme()">click me</button>


<!--*ngIf Statment example-->
<!-- <div *ngIf="showMessage" [ngStyle]='{color:colorName}'>the message is shown</div> -->
<!-- *ngIf with else Statment example -->
<div *ngIf="showMessage; else showElseMessage" [ngStyle]='{color:colorName}'>Message shown </div>
<ng-template #showElseMessage>shown else message</ng-template>



<h5>ngSwitch example</h5>

<div [ngSwitch]="SwitchValue">
<div *ngSwitchCase="'one'">If 1 is present</div>
<div *ngSwitchCase="'two'">If 2 is present</div>
<div *ngSwitchCase=3>If 3 is present</div>
<div *ngSwitchCase=4>If 4 is present</div>
<div *ngSwitchDefault>The fault value </div>
</div>

<h2>ngSwitch example</h2>
<div [ngStyle]="{'color':ColorValue, 'background-color':bgColorVal}">
  Error occurs in the template of component AppComponent
</div>
<h6>ngfor example</h6>

<!-- <table class="table">  
  <tr>
    <th>Index</th>
    <th>UserId</th>
    <th>UserName</th>
   
  </tr>
  <tr *ngFor="let user of userId; index as i">
    <td>{{i}}</td>
    <td>{{user.userid}}</td>
    <td>{{user.username}}</td>
  </tr>
</table> -->


<!-- ---------------------------------------------------------------------------------------- -->
<!-- This is one way Data Binding (componet=(Component.ts) to template=(Component.html) / componet going to template ) -->
<h3>ngClass example</h3>
<div [ngClass]="[clsName ,clsName2]"> The example of NgClass</div>
<div [ngClass]="{'one':true,'two':false}"> The example of NgClass with conditions</div>


<!-- Interpolation step 2 -->
<div [ngClass]="{'main':true, 'sub':false}">
  <div [ngClass]="'mainClass'">{{subTitle}}</div>
  </div>
  <div [ngClass]="{'main':false, 'sub':true}">
  <div [ngClass]="'subClass'">{{step}}</div>
</div>

<!--  Interpolation=(CALLING THE OBJECT)  -->
<div>{{inter.titleId}}</div>
<div>{{inter.sub}}</div>        
<div>{{inter.status}}</div>

<!-- PROPERTY BINDING -->
<div [ngStyle]="{'color':ColorValue}">This is the Property Binding</div>

<p [innerHTML]="subTitle"></p>

<div [ngClass]="'pb'">Setting class property via Property Binding</div>

<input [placeholder]="placeHolderValue">

<!-- This is property binding with that exsiting i have added attribute buinding-->
<a [href]="hrefval" [attr.updataedLink]="updated">Google</a>

<!-- EVENT BINDING -->
<h4>SwitchEvent</h4>
<button (click)="showAlert(10)">Alewrt Message</button>
<!-- ---------------------------------------------------------------------------------------- -->

<!-- TWO WAY BINDING -->
<h5>TWO WAY BINDING</h5>
<input [(ngModel)]="firstName"  />
<button (click)="readFirstName()">Read FirstName</button>
<div>{{firstName}}</div>

<!-- ---------------------------------------------------------------------------------------- -->

<!-- PIPE -->
<!-- BUILT IN PIPES -->

<!-- LOWER AND UPPER CASE PIPE -->
<div>{{pipe.pipeUsername | lowercase}} ; {{pipe.pipeType | uppercase}}</div>   
<!-- CURRANCY PIPE  -->
<!-- <div>{{pipe.PipeCurrancy | currency:'USD':'code'}}</div> -->
<!-- DATE PIPE -->
<div>{{pipe.pipeDate | date:'DD MMMM YY'}}</div>
<!-- JSON PIPE -->
<code>{{pipe | json }}</code>

<!-- PARAMETRIZED PIPE -->
<div>{{pipe.pipeDate | date:'shortDate'}}</div>
<div>{{pipe.PipeCurrancy | currency:'INR':'INR':'3.0-1'}}</div>

<!-- CHAINING PIPE -->
<div>{{pipe.pipeDate | date:'MMMM' | uppercase }}</div>
<!-- ---------------------------------------------------------------------------------------- -->

<!-- CUSTOM PIPE -->
<!-- example-1 -->
<!-- <div>{{cus.cityName |  highlight:cus.cityName }}</div> -->

<!-- example-2 -->
<!-- <div>{{ cus.cityName  | highlight: cus.cityName: cus.cityCode }}</div> -->

<ul>
  <li *ngFor="let usersss of cus">
    <div [innerHTML]="usersss.cityCode |  highlight:usersss.cityCode "></div>
  </li>
</ul>

<router-outlet />


