.one{
  color: white;
  font-weight: 500;
  background-color:blueviolet;
}
.two{
  background-color: black;
}
.main{
  color: rgb(240, 234, 234);
  font-weight: 500;
  background-color:#0f2f0a;
}
.sub{
  color: rgb(240, 234, 234);
  background-color:rgb(9, 9, 9);
}

.pb{
  background-color: #ddd;
}